.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: whitesmoke;
    opacity: 1;
    
    background: rgba(0, 0, 0, 0.2);
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }